@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

@* //Author:Emelie *@

<RadzenComponents />
<RadzenLayout>
	<RadzenHeader>
		@* <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" /> *@
		<RadzenNavMenu IsSidebarVisible="SidebarVisible" OnSidebarVisible="@(() => SidebarVisible = !SidebarVisible)" />
		@* <RadzenNavMenu OnSidebarVisible="@(() => SidebarVisible = !SidebarVisible)" /> *@

	</RadzenHeader>
	<AuthorizeView>
		<RadzenSidebar @bind-Expanded="SidebarVisible">
			<RadzenSiteDashboard SidebarVisible="@SidebarVisible"/>
			@* <RadzenSidebar @bind-Expanded="@sidebar1Expanded"> *@
			@* <RadzenSiteDashboard SideBarVisible="@SidebarVisible" /> *@
		</RadzenSidebar>
	</AuthorizeView>

	<RadzenBody>
		<div class="rz-p-4">
			@Body
		</div>
	</RadzenBody>

	<RadzenNotification />
	<RadzenSiteFooter />
</RadzenLayout>



<HeadContent>
	<RadzenTheme Theme="software" />
	<title>FribergHome</title>
	<PageTitle />
</HeadContent>

@code {
	private bool SidebarVisible = true;

	public async Task ToggleSidebar()
	{

	}
}