@page "/properties/{Id:int}/details"
@using FribergHomeClient.Data
@using FribergHomeClient.Services
@inject IPropertyService PropertyService
@inject IRealEstateAgentService AgentService
@inject HttpClient Http
@inject NotificationService NotificationService

@* //Author:Emelie *@
@* CoAuthor: Fredrik *@
@* CoAuthor: Glate*@
@* CoAuthor: Christoffer*@
@* CoAuthor: Tobias*@


@if (Property is null)
{
	<Spinner />
}
else
{
	<PageTitle>@Property.Street</PageTitle>
	<RadzenRow JustifyContent="JustifyContent.Center">
		<RadzenColumn SizeLG="8" Size="12">
			<RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Start" Wrap="FlexWrap.Wrap">
				<RadzenRow JustifyContent="JustifyContent.Center">

					<!--Image City/Muncipality Description Property Details/Data Agent-->
					<RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Start" class="rz-my-8">
						<!--Image City/Muncipality Description-->
						<RadzenRow>
							<RadzenColumn SizeLG="8" SizeMD="12" SizeSM="12">
								<ContainerBox>

									<!--Image-->
									<RadzenCarousel Auto="false" AllowNavigation="true"
													Style="height: 45vh; width: 100%;"
													ButtonStyle="ButtonStyle.Light" ButtonSize="ButtonSize.Small" ButtonShade="Shade.Lighter" ButtonVariant="Variant.Text">
										<Items>
											@foreach (var image in Property.ImageUrls)
											{
												<RadzenCarouselItem>
													<RadzenImage Path="@image.ImgURL" class="rz-w-100 rz-h-100" />
												</RadzenCarouselItem>
											}
										</Items>
									</RadzenCarousel>

									<!--City Muncipality-->
									<RadzenRow JustifyContent="JustifyContent.SpaceBetween" class="rz-my-2">
										<RadzenColumn>
											<RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Start">
												<!--Street-->
												<RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Start" TagName="TagName.P">@Property.Street</RadzenText>
											</RadzenRow>
											<RadzenText TextStyle="TextStyle.Subtitle1" TextAlign="TextAlign.Left" TagName="TagName.P" class="">
												@Property.City, @Property.Muncipality kommun
											</RadzenText>
										</RadzenColumn>
										<RadzenColumn>
											<RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.End" TagName="TagName.P" class="">
												@Property.ListingPrice.ToString("#,##0").Replace(",", " ")kr
											</RadzenText>
										</RadzenColumn>
									</RadzenRow>

									<!--Description-->
									@foreach (var descriptionSection in descriptionArray)
									{
										<RadzenText TextStyle="TextStyle.Caption" TextAlign="TextAlign.JustifyAll" TagName="TagName.P" Style="font-size:1.2em; margin-bottom:1em;">
											@descriptionSection
										</RadzenText>
									}
								</ContainerBox>
							</RadzenColumn>
							<RadzenColumn SizeLG="4" SizeMD="12" SizeSM="12">


								<div class="rz-background-color-primary-lighter rz-px-2 rz-py-8" style="border-radius: 4px;">
									<RadzenRow JustifyContent="JustifyContent.SpaceAround" AlignItems="AlignItems.Start" Gap="1rem">
										<!--Property Details-->
										<RadzenColumn Size="4">
											<RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
												Utgångspris
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
												Bostadstyp
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
												Byggår
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
												Antal rum
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
												Boarea
											</RadzenText>
											@if (Property.SecondaryArea > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
													Biarea
												</RadzenText>
											}
											@if (Property.LotSize > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
													Tomtarea
												</RadzenText>
											}
											@if (Property.MonthlyFee > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
													Månadsavgift
												</RadzenText>
											}
											@if (Property.OperationalCostPerYear > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em">
													Driftkostnad
												</RadzenText>
											}
										</RadzenColumn>

										<!--Property Data-->
										<RadzenColumn Size="4">
											<RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Left" TagName="TagName.P" style="font-size:1.2em; white-space: nowrap;">
												@Property.ListingPrice.ToString("#,##0").Replace(",", " ")kr
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
												@PropertyTypes.GetLocalized(Property.PropertyType)
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
												@Property.YearBuilt
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
												@Property.NumberOfRooms
											</RadzenText>
											<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
												@Property.LivingSpace.ToString("F0") m²
											</RadzenText>
											@if (Property.SecondaryArea > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
													@Property.SecondaryArea.ToString("F0") m²
												</RadzenText>
											}
											@if (Property.LotSize > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
													@Property.LotSize.ToString("F0") m²
												</RadzenText>
											}
											@if (Property.MonthlyFee > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
													@Property.MonthlyFee.ToString("F0") kr
												</RadzenText>
											}
											@if (Property.OperationalCostPerYear > 0)
											{
												<RadzenText TextStyle="TextStyle.Subtitle2" TextAlign="TextAlign.Left" TagName="TagName.P" Style="font-size:1.2em; white-space: nowrap;">
													@Property.OperationalCostPerYear.ToString("F0") kr/år
												</RadzenText>
											}
										</RadzenColumn>
									</RadzenRow>
								</div>

								<RadzenColumn Size="12" SizeMD="6" SizeLG="3" SizeXL="3" class="rz-my-4">
									<!--Agent-->
									@if (agent != null)
									{
										<AgentProfile Id="@Property.RealEstateAgentId" />
									}
									else
									{
										<RadzenCard class="rz-my-12 rz-mx-auto">
											<RadzenText TextStyle="TextStyle.H5">Mäklare ej tilldelad</RadzenText>
											<RadzenText TextStyle="TextStyle.Body1">Denna bostad har ännu ingen tilldelad mäklare</RadzenText>
										</RadzenCard>
									}
								</RadzenColumn>
							</RadzenColumn>
						</RadzenRow>
					</RadzenRow>
				</RadzenRow>
			</RadzenStack>

		</RadzenColumn>
	</RadzenRow>
}

@code {
	[Parameter]
	public int Id { get; set; }

	public PropertyDTO Property { get; set; }
	//Fredrik
	private RealEstateAgentDTO? agent { get; set; }

	private string[] descriptionArray = [];
	private string errorMessage = string.Empty;

	protected override async Task OnInitializedAsync()
	{

		var response = await PropertyService.GetAsync(Id);
		if (!response.Success || response.Data == null)
		{
			errorMessage = "Något gick fel när bostaden skulle hämtas, försök igen.";
			NotifyError(errorMessage);
			return;
		}

		Property = response.Data;
		// //Fredrik
		if (Property?.RealEstateAgentId != null && Property.RealEstateAgentId > 0)
		{
			var agentResponse = await AgentService.GetById(Property.RealEstateAgentId);
			if (!agentResponse.Success || agentResponse.Data == null)
			{
				errorMessage = "Något gick fel när mäklaren skulle hämtas, försök igen.";
				NotifyError(errorMessage);
				return;
			}

			agent = agentResponse.Data;
		}

		descriptionArray = SplitDescription(Property.Description);
	}

	private string[] SplitDescription(string description)
	{
		return description.Split("\r\n");
	}

	private void NotifyError(string errorMessage)
	{
		NotificationService.Notify(new NotificationMessage
			{
				Severity = NotificationSeverity.Error,
				Duration = 5000,
				Summary = "Fel uppstod",
				Detail = errorMessage
			});
	}
}
