@using FribergHomeClient.Data.Dto
@inject HttpClient Http
@inject NotificationService NotificationService
@inject IPropertyService PropertyService

@* Author: Glate *@

<style>
	.rz-pager {
		background-color: var(--rz-primary-light);
	}
</style>

@if (Properties == null || pagedProperties == null)
{
	if (string.IsNullOrEmpty(ErrorMessage))
	{
		<Spinner />
	}
}
else
{
	<RadzenRow Gap="0" class="rz-justify-content-center">
		@if (IsCompactView)
		{
			<RadzenColumn SizeSM="12" SizeMD="6">
				<ContainerBox>
					@if (!string.IsNullOrEmpty(Header))
					{
						<RadzenText TextStyle="TextStyle.H5" Style="display: block;">@Header</RadzenText>
					}
					<div class="small-card-container rz-my-5">
						@foreach (var p in Properties)
						{
							<PropertyCard Property="p" IsCompactView=IsCompactView></PropertyCard>
						}
					</div>
				</ContainerBox>
			</RadzenColumn>
		}
		else
		{
			<RadzenColumn SizeSM="8" SizeMD="10" SizeLG="6">
				<RadzenPager @ref="pager1" Count="@(Properties?.Count() ?? 0)" PageSize="@pageSize" PageChanged="@OnPageChange" AlwaysVisible="true" />
				<ContainerBox BorderRadius="0">
					<RadzenText TextStyle="TextStyle.H5" Style="display: block;">@Header</RadzenText>
					@foreach (var p in pagedProperties)
					{
						<PropertyCard Property="p" IsCompactView=IsCompactView></PropertyCard>
					}
				</ContainerBox>
				<RadzenPager @ref="pager2" Count="@(Properties?.Count() ?? 0)" PageSize="@pageSize" PageChanged="@OnPageChange" AlwaysVisible="true" />
			</RadzenColumn>
		}
	</RadzenRow>
}

@code {
	private RadzenPager pager1;
	private RadzenPager pager2;

	private int currentPage = 0;
	private int pageSize = 10; //Listings per page

	private IEnumerable<PropertyDTO> pagedProperties =>
		Properties?.Skip(currentPage * pageSize)
		.Take(pageSize) ?? Enumerable.Empty<PropertyDTO>();

	public List<PropertyDTO>? Properties;

	public async Task OnPageChange(PagerEventArgs args)
	{
		currentPage = args.PageIndex;
		if (pager1 != null) pager1.GoToPage(currentPage);
		if (pager2 != null) pager2.GoToPage(currentPage);
		await InvokeAsync(StateHasChanged);
	}

	[Parameter]
	public int Take { get; set; } = 0; //number of listings to be fetched if specified.

	[Parameter]
	public bool IsCompactView { get; set; } = false;

	[Parameter]
	public int? MuncipalityId { get; set; }

	[Parameter]
	public string InitialHeader { get; set; } = ""; //Header for container of properties.

	public string Header { get; set; } = "";

	public string ErrorMessage { get; set; } = string.Empty;


	protected override async Task OnParametersSetAsync()
	{
		await LoadPropertiesAsync();
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadPropertiesAsync();
	}


	private async Task LoadPropertiesAsync()
	{
		try
		{
			Header = InitialHeader;
			string endpoint = MuncipalityId.HasValue && MuncipalityId != 0 //If MuncipalityId has value and is not 0
							? $"muncipality/{MuncipalityId}" //endpoint = this
							: (Take > 0 ? $"latest?take={Take}" //else this.
							: string.Empty); //Or this, if Take is 0. This get all properties.

			var response = await PropertyService.GetListAsync(endpoint);

			if (response.Success && response.Data != null)
			{
				Properties = response.Data;
				if (string.IsNullOrEmpty(InitialHeader))
				{
					Header = MuncipalityId != 0 && Properties.Any()
							? $"Listningar i {Properties[0].Muncipality}"
							: MuncipalityId.HasValue && !Properties.Any()
								? "Inga listningar"
								: "Alla listningar";
				}
			}
			else
			{
				ErrorMessage = response.Message ?? "Ett fel uppstod";
				NotificationService.Notify(new NotificationMessage
					{
						Severity = NotificationSeverity.Error,
						Summary = ErrorMessage
					});
				Console.WriteLine(ErrorMessage);
			}
		}
		catch (Exception ex)
		{
			ErrorMessage = $"Ett fel uppstod: {ex.Message}";
			Console.WriteLine(ErrorMessage);
		}
	}
}
